.inline {
    position: relative;
    float: left; 
}

.panel{
    height: 30em;
}

.bottomBar {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.textBar {
    width: 90%;
    height: 1em;
    resize:none;    
}
.searchBar {
    width: 45%;
    height: 1em;
    resize:none; 
}

.myMessage {
    margin-left: auto;
    margin-right:0%;
    color: white;
    background-color: rgb(92, 99, 194);
}
.otherMessage {
    color: white;
    background-color: rgb(116, 194, 92);
}

.otherMessage,.myMessage {
    display: list-item;
    word-break: break-all;
    border-radius: 0.2em;
    max-width: 100%;
    caret-color: transparent;
    resize:none;    
}

.userli {
    border: 1px solid #000;
    cursor: pointer;
}

.scrollContainer {
    overflow-x: hidden;
    overflow-y: auto;
}

/*
    Make the 3 panels drop too two below a certain width
    the 1 below a certain width
*/